<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="jumbotron col-md-4">
                <h3>Informace o aplikaci</h3>
                <p>
                    <ul>
                        <li>Napravo je seznam dostupných složek pro přípravu obrázků</li>
                        <li>Tato aplikce <b>POUZE vytváří</b> složky a obrázky uvnitř složek, nic se nemaže ani nepřepisuje</li>
                        <li>Po kliknutí na akci 'Připravit' vytvoří program obrázky, pokud:</li>
                        <ol>
                            <li>Existuje složka <b>2</b></li>
                            <li>Neexistují složky <b>3</b> a <b>4</b></li>
                        </ol>
                        <li>Po vytvoření složek a obrázků by byla vhodná manuální kontrola</li>
                        <li>V případě </li>
                    </ul>
                </p>
            </div>
            <div class="content jumbotron col-md-8">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>