{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            
        </tbody>
    </table>
    <script> 
        let tbody = $('#tableContent');
        let myjson = {{ files|tojson|safe }};
        tbody.empty();
        for(let i = 0; i < myjson.length; i++){
            href_path = window.location.pathname + '/' + myjson[i].dirname
            console.log(href_path)
            let row = "";
            row += '<tr>';
            row += '<td><i class="fa fa-folder-open"></i><a href="' + href_path + '">' + myjson[i].dirname+ '</a></td>';
            if(myjson[i].hasDirTwo) {
                row += '<td class="actions"><form action="prepare/' + myjson[i].dirname + '" method="post"> \
                    <input type="submit" value="Připravit"</td>';
            } else {
                row += '<td></td>';
            }
            row += '</tr>';
            tbody.append(row);
        }

    </script>
{% block modal %}{% endblock %}
{% endblock %}