{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<script>
    $( document ).ready(function() {
        $('#myInput').keyup(function() {
            // Declare variables
            var filter = $('#myInput').val()
            getDirs(filter);
        });

        function getDirs(filter) {
            console.log(filter)
            var dataset = $('#dirTable tbody').find('tr');
            //$('#dirTable tbody').hide();
            dataset.show();
            dataset.filter(function(index, item) {
                return $(item).find('td:first-child').text().indexOf(filter) === -1;
            }).hide();
        }
    });
</script>

<div class="content jumbotron">
    <h1>Preparator</h1>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td><i class="fa fa-folder-open"></i>{{ file }}</th>
                    <td class="actions"><a href="{{ 'prepare/' + file }}">Připravit</a></th>
                </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}