{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td><i class="fa fa-folder-open"></i>{{ file }}</th>
                    <td class="actions"><a href="{{ 'prepare/' + file }}">Připravit</a></th>
                </tr>
            {% endfor %}
          </tbody>
    </table>
{% block modal %}{% endblock %}
{% endblock %}