{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <div class="row">
        <div class="col">
            <i class="fa fa-arrow-left"></i><a href="{{ prev_page }}">Zpět</a><br>
            <i class="fa fa-home"></i><a href="/">Zpět na kořenovou složku</a>
        </div>
        <div class="col">
          <p style="display:inline">Počet aktivních procesů: <b id="proc_count"></b></p>
        </div>
      </div>
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            
        </tbody>
    </table>
    <div id="transferModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
                <div id="modalBody"class="modal-body">
                    <div class="progress" style="height: 32px;">
                        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" style="display:block"></div>
                    </div>
                    <div id="progressNumbered"></div>
                    <p id="transferInfo" style="display:None">Přenos proběhne i po zavření okna</p>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <button id="transferNowButton" class="btn btn-primary">Poslat IHNED</button>
                        <button id="transferLaterButton" class="btn btn-danger" disabled>Poslat o půlnoci</button>
                </div>
          </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="modalInfo" class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modalMessage" class="modal-title"></h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
          </div>
        </div>
    </div>
    <script> 
        function fill_table(tbody){
            let myjson = {{ files|tojson|safe }};
            console.log(myjson)
            tbody.empty();
            for(let i = 0; i < myjson.length; i++){
                pathname = window.location.pathname + '/' + myjson[i].dirname
                pathname = pathname.replace(/([^:]\/)\/+/g, "$1");
                console.log(pathname)
                let row = "";
                row += '<tr>';
                row += '<td><i class="fa fa-folder-open"></i><a href="' + pathname + '">' + myjson[i].dirname+ '</a></td>';
                row += '<td class="actions"><form action="/prepare/' + myjson[i].dirpath + '" method="post"> \
                                                <input type="submit" class="btn btn-primary" value="Připravit složky 3 a 4"></form></td>';
                row += '<td class="actions"><button type="button" class="showModalButton btn btn-primary modal-button">Poslat do MZK</button></td>';
                row += '</tr>';
                tbody.append(row);
            }
            row = '<tr><td>Počet obrázků ve složce: ' + {{ file_count }} + '</td></tr>';
            tbody.append(row);
        }
        $(document).ready(function() {
            let tbody = $('#tableContent');
            fill_table(tbody)
            $('.showModalButton').on('click', function() {
                path = window.location.pathname + '/' + $(this).closest('tr').find('a').text();
                url = '/api/check_folder_conditions' + path;
                url = url.replace(/([^:]\/)\/+/g, "$1");
                $.ajax({
                    type: 'GET',
                    async: false,
                    url: url,
                    dataType: 'json',
                    success: function(data) {
                        if (!data.folder_two) {
                            $('#modalMessage').text('Chybí Složka 2!');
                            $('#modalInfo').modal('show');
                            return;
                        }
                        
                        if (data.exists_at_mzk) {
                            // Handle missing results case
                            $('#modalMessage').text('Složka již je v MZK!');
                            $('#modalInfo').modal('show');
                            return;
                        }
                        console.log("it is ok");
                        $('#transferModal').modal('show');
                    },
                    error: function(data) {
                        console.log("WTF");
                    }
                });
            });
            $('#transferModal').on('hidden.bs.modal', function () {
                $("#transferInfo").remove()
                $('#transferNowButton').show();
                $('#transferLaterButton').show();
                $("#progressBar").css("width", "0%");
                $("#progressNumbered").html("");
            })
            $('#dirTable').on('click', '.modal-button', function() {
                path = window.location.pathname + '/' + $(this).closest('tr').find('a').text();
                // remove trailing slashes
                path = path.replace(/([^:]\/)\/+/g, "$1");
                // listen for progress updates
                var socket = io.connect();
                socket.on('progress', function(data) {
                    // get the row ID for this transfer process
                    let percent = Math.floor((data.current/data.total)*100);
                    let width_style = percent.toString() + "%";
                    console.log(width_style)
                    let label = data.current + "/" + data.total;
                    $("#progressBar").css("width", width_style);
                    $("#progressNumbered").html(label);
                });
                $('#folderPath').val(path);
                $('#transferNowButton').on('click', function() {
                    url = "/api/send_to_mzk_now/" + path
                    url = url.replace(/([^:]\/)\/+/g, "$1");
                    $.ajax({
                        type: "POST",
                        url: url,
                        dataType: "json",
                        success: function(result){
                            $('#transferNowButton').hide();
                            $('#transferLaterButton').hide();
                            $("#modalBody").append('<p id="transferInfo">Přenos proběhne i po zavření okna</p>');
                        }
                    });
                });
                $('#transferLaterButton').on('click', function() {
                    console.log("Nothing")
                });
            });
        });
        
    </script>
{% block modal %}{% endblock %}
{% endblock %}