{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <div class="row">
        <div class="col">
            <i class="fa fa-arrow-left"></i><a href="{{ prev_page }}">Zpět</a><br>
            <i class="fa fa-home"></i><a href="/">Zpět na kořenovou složku</a>
        </div>
        <div class="col">
          <p style="display:inline">Počet aktivních procesů: <b id="proc_count"></b></p>
        </div>
      </div>
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            
        </tbody>
    </table>
    <script> 
        function fill_table(tbody){
            let myjson = {{ files|tojson|safe }};
            console.log(myjson)
            tbody.empty();
            for(let i = 0; i < myjson.length; i++){
                href_path = window.location.pathname + '/' + myjson[i].dirname
                console.log(href_path)
                let row = "";
                row += '<tr>';
                row += '<td><i class="fa fa-folder-open"></i><a href="' + href_path + '">' + myjson[i].dirname+ '</a></td>';
                row += '<td class="actions"><form action="/prepare/' + myjson[i].dirpath + '" method="post"> \
                                                <input type="submit" class="btn btn-primary" value="Připravit"</td>';
                row += '<td class="actions"> \
                    <button type="button" class="btn btn-primary add-button" >Přidat složku</button></td>';
                row += '</tr>';
                tbody.append(row);
            }
            row = '<tr><td>Počet obrázků ve složce: ' + {{ file_count }} + '</td></tr>';
            tbody.append(row);
        }
        $(document).ready(function() {
            let tbody = $('#tableContent');
            fill_table(tbody)
            $('.add-button').on('click', function() {
                //if($(this).val() == 'Smazat složku')
                //   $(this).val('Přidat složku');
                //else{
                //    $(this).val('Smazat složku');
                //    }});
                path = "/add_folder" + window.location.pathname + "/" + $(this).closest('tr').find('a').text();
                console.log(path)
                $.post(path, function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });
        });
        
    </script>
{% block modal %}{% endblock %}
{% endblock %}