{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <input type="text" id="myInput" placeholder="Hledat složku...">
    <div class="row">
        <div class="col">
          <a href="/">Zpět na kořenovou složku</a>
        </div>
        <div class="col">
          <p style="display:inline">Počet aktivních procesů: <b id="proc_count"></b></p>
        </div>
      </div>
    <table class="table" id="dirTable">
        <thead>
            <tr>
                <th>Složka</th>
                <th class="actions">Akce</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            
        </tbody>
    </table>
    <script> 
        let tbody = $('#tableContent');
        let myjson = {{ files|tojson|safe }};
        fill_table(tbody)
        function fill_table(tbody){
            tbody.empty();
            for(let i = 0; i < myjson.length; i++){
                href_path = window.location.pathname + '/' + myjson[i].dirname
                console.log(href_path)
                let row = "";
                row += '<tr>';
                row += '<td><i class="fa fa-folder-open"></i><a href="' + href_path + '">' + myjson[i].dirname+ '</a></td>';
                if(myjson[i].hasDirTwo) {
                    if(!myjson[i].hasDirThree || !myjson[i].hasDirFour) {
                        row += '<td class="actions"><form action="prepare/' + myjson[i].dirname + '" method="post"> \
                                            <input class="btn-primary" type="submit" value="Připravit"></td>';
                    } else {
                        row += '<td class="actions"><form action="prepare/' + myjson[i].dirname + '" method="post"> \
                                            <input class="btn-primary" type="submit" value="Připravit" disabled></td>';
                    }
                } else {
                    row += '<td class="actions"><form action="prepare/' + myjson[i].dirname + '" method="post"> \
                                        <input class="btn-primary" type="submit" value="Připravit" disabled></td>';
                }
                row += '<td class="actions"><form action="add_folder" method="post" onsubmit="changeStatus(this)"> \
                    <input class="btn-primary" type="submit" value="Přidat složku"></td>';
                row += '</tr>';
                tbody.append(row);
            }
        }

        function changeStatus(form) {
            console.log("Clicked");
            $('#btn-primary').on('click', function() {
                if($(this).val() == 'Smazat složku')
                    $(this).val('Přidat složku');
                else{
                    $(this).val('Smazat složku');
                }});
            if($('#btn-primary').val() == 'Smazat složku')
                form.action('add_folder');
            else{
                form.action('remove_folder');
            }
        }
        
    </script>
{% block modal %}{% endblock %}
{% endblock %}