{% extends 'base_table.html' %}

{% block body %}
<script src="{{ url_for('static', filename='js/processes.js') }}"></script>
<div class="row p-3">
  <div class="container pt-3">
    <h2>Záznamy přenosů</h2>
    <table id="processTable" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Čas vytvoření</th>
          <th>Naplánovaný čas</th>
          <th>Stav</th>
          <th>Složky</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody id="tableContent">
      </tbody>
    </table>
    <div class="text-right">
      <a href="{{ url_for('main.get_processes', page=processes.prev_num) }}" class="btn btn-outline-dark {% if processes.page == 1 %}disabled{% endif %}">
          &laquo;
      </a>
      <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in processes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                
      {% if page_num %}
       <!-- Check for the active page and set the link to "Active"-->
              {% if processes.page == page_num %}
              <a href="{{ url_for('main.get_processes', page=page_num) }}"
              class="btn btn-dark">
                  {{ page_num }}
              </a>
              {% else %}
              <a href="{{ url_for('main.get_processes', page=page_num) }}"
              class="btn btn-outline-dark">
                  {{ page_num }}
              </a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}    
      <a href="{{ url_for('main.get_processes', page=processes.next_num) }}" class="btn btn-outline-dark {% if processes.page == processes.pages %}disabled{% endif %}">
          &raquo;
      </a>
    </div>
    <p class="text-right mt-3">
        Stránka {{ processes.page }} z {{ processes.pages }}
    </p>
  </div>
</div>
{% endblock %}