{% extends 'base_table.html' %}

{% block body %}
<div class="row p-3">
  <div class="container pt-3">
    <h2>Záznamy procesů</h2>
    <ul>
      <li></li>
    </ul>      
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Čas vytvoření</th>
          <th>Stav</th>
          <th>Celery UUID</th>
          <th>Složky</th>
        </tr>
      </thead>
      <tbody>
        {% for process in processes.items %}
            <tr id="row-{{ process.id }}">
                <td>{{ process.id }}</th>
                <td>{{ process.created }}</td>
                <td class="border-left">
                {% if process.state %}
                  {{ process.state }}
                {% else %} 
                  Žádný
                {% endif %}</td>
                <td><a href="/celery_task/{{ process.celery_task_id }}">{{ process.celery_task_id }}</a></th>
                <td><a class="btn btn-primary" role="button" href="{{ url_for('main.get_process_folders', id=process.id) }}">Zobrazit</button></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-right">
      <a href="{{ url_for('main.get_processes', page=processes.prev_num) }}" class="btn btn-outline-dark {% if processes.page == 1 %}disabled{% endif %}">
          &laquo;
      </a>
      <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in processes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                
      {% if page_num %}
       <!-- Check for the active page and set the link to "Active"-->
              {% if processes.page == page_num %}
              <a href="{{ url_for('main.get_processes', page=page_num) }}"
              class="btn btn-dark">
                  {{ page_num }}
              </a>
              {% else %}
              <a href="{{ url_for('main.get_processes', page=page_num) }}"
              class="btn btn-outline-dark">
                  {{ page_num }}
              </a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}    
      <a href="{{ url_for('main.get_processes', page=processes.next_num) }}" class="btn btn-outline-dark {% if processes.page == processes.pages %}disabled{% endif %}">
          &raquo;
      </a>
    </div>
    <p class="text-right mt-3">
        Stránka {{ processes.page }} z {{ processes.pages }}
    </p>
  </div>
</div>
<script>
  /*
  var socket = io.connect();

  // listen for progress updates
  socket.on('progress', function(data) {
    // get the row ID for this transfer process
    console.log(data)
    var rowId = 'row-' + data.process_id;
    console.log(rowId)
    // update the progress bar for this row
    //var progressBar = document.querySelector('#' + rowId + ' progress');
    //progressBar.value = data.progress;
  });*/
</script>
{% endblock %}